<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
</head>
<body>
  <style>
    #content {
      text-align: center;
    }
  </style>
  <script>
    /**
     * Read a value from OD.
     *
     * @param {String} index The index of the object to write to.
     * @param {String} subindex The eubndex of the object to write to. Set to
     * null if subindex is not needed. 
     *
     * @return {Object} The object from the OD.
     */
    async function readValue(index, subindex) {
      let url = `http://${window.location.host}/od/${index}`;
      if (subindex !== null && subindex !== "") {
        url = `http://${window.location.host}/od/${index}/${subindex}`;
      }

      return await fetch(url)
        .then(response => response.json())
        .then(data => {
          if (data.error !== undefined) {
            console.error(data.error);
          }
          return data;
        });
    }

    /**
     * Write a value to OD.
     *
     * @param {String} index The index of the object to write to.
     * @param {String} subindex The eubndex of the object to write to. Set to
     * an emoty sring or null if subindex is not needed. 
     * @param {Any} value The value to write to OD.
     *
     * @return {Object} The object after the new value was written to it.
     */
    async function writeValue(index, subindex, value) {
      let options = {
        "method": "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        "body": JSON.stringify({
          "value": value,
        }),
      };
      
      let url = `http://${window.location.host}/od/${index}`;
      if (subindex !== null && subindex !== "") {
        url = `http://${window.location.host}/od/${index}/${subindex}`;
      }

      return await fetch(url, options)
        .then(response => response.json())
        .then(data => {
          if (data.error !== undefined) {
            console.error(data.error);
          }
          return data;
        });
    }

    /**
     * Convert a SCET value to a data object.
     *
     * @param {Number} scet The SCET value.
     *
     * @return {Date} The date object.
     */
    function scetToDate(scet) {
      // convert to binary
      let base2 = scet.toString(2);
      const leadingZeros = "0".repeat(64 - base2.length);
      base2 = leadingZeros + base2;

      const coarseStr = base2.substring(32);
      const fineStr = base2.substring(8, 32);

      const coarse = parseInt(coarseStr, 2);
      const fine = parseInt(fineStr, 2);

      // make unix time in ms
      const time = coarse * 1000 + fine / 1000;

      return new Date(time);
    }

    async function toggleFlightMode() {
      const value = document.getElementById("flightMode").checked;
      const obj = await writeValue("flight_mode", null, value);
      document.getElementById("flightMode").checked = obj.value;
    }

    async function getFlightMode() {
      const obj = await readValue("flight_mode", null);
      document.getElementById("flightMode").checked = obj.value;
    }

    async function getBusStatus() {
      const url = `http://${window.location.host}/bus`;
      return await fetch(url)
        .then(response => response.json())
        .then(data => {
          if (data.error !== undefined) {
            console.error(data.error);
          }
          return data;
        });
    }

    getFlightMode();
  </script>
  <div id="baseContent">
    {% block baseContent %}{% endblock %}
  </div>
</body>
</html>
