{% extends "_base.html" %}

{% block baseContent %}
  <style>
    #headerGrid {
      display: grid;
      grid-template-columns: 40% 20% 40%;
    }
    #headerCenter {
      text-align: center;
    }
    #headerRight {
      text-align: right;
    }
  </style>
  <div id="headerGrid">
    <div id="headerLeft">
       <a href="/">home</a>
    </div>
    <div id="headerCenter">
      <h2>{{name}}</h2>
    </div>
    <div id="headerRight">
      <text><b><span id="busChannel">vcan0</span></b>: <span id="busStatus">NETWORK_DOWN</span> | </text>
      <label for="flightMode"><b>Flight Mode</b>: </label>
      <input type="checkbox" id="flightMode" onclick="toggleFlightMode()"></input>
    </div>
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <script>
    async function updateBusStatus() {
      const status = await getBusStatus();
      document.getElementById("busChannel").textContent = status.channel;
      document.getElementById("busStatus").textContent = status.status;
    }

    updateBusStatus();
    const busInterval = setInterval(function() {
      updateBusStatus();
    }, 1000);
  </script>
{% endblock %}
