<!DOCTYPE html>
<html lang='en'>
<head>
  <title>{{title}}</title>
  <style>
    #header {
      text-align: center;
    }
  </style>
  <div id='header'>
    <h2>{{name}}</h2>
  </div>
</head>
<body>
  <style>
    #content {
      text-align: center;
    }
  </style>
  <script>
    /**
     * Read a value from OD.
     *
     * @param {String} index The index of the object to write to.
     * @param {String} subindex The eubndex of the object to write to. Set to
     * null if subindex is not needed. 
     *
     * @return {Object} The object from the OD.
     */
    async function readValue(index, subindex) {
      let url = `http://${window.location.host}/od/${index}`;
      if (subindex !== null || subindex !== '') {
        url = `http://${window.location.host}/od/${index}/${subindex}`;
      }

      return await fetch(url)
        .then(response => response.json())
        .then(data => { return data; });
    }

    /**
     * Write a value to OD.
     *
     * @param {String} index The index of the object to write to.
     * @param {String} subindex The eubndex of the object to write to. Set to
     * an emoty sring or null if subindex is not needed. 
     * @param {Any} value The value to write to OD.
     *
     * @return {Object} The object after the new value was written to it.
     */
    async function writeValue(index, subindex, value) {
      let options = {
        'method': 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        'body': JSON.stringify({
          'value': value,
        }),
      };
      
      let url = `http://${window.location.host}/od/${index}`;
      if (subindex !== null || subindex !== '') {
        url = `http://${window.location.host}/od/${index}/${subindex}`;
      }

      return await fetch(url, options)
        .then(response => response.json())
        .then(data => { return data; });
    }
  </script>
  <div id='content'>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
