{% extends "_base.html" %}

{% block baseContent %}
  <style>
    #headerGrid {
      display: grid;
      grid-template-columns: 25% 50% 25%;
    }
    #headerCenter {
      text-align: center;
    }
    #headerRight {
      text-align: right;
    }
  </style>
  <div id="headerGrid">
    <div id="headerLeft">
       <a href="/">home</a>
    </div>
    <div id="headerCenter">
      <h2>{{name}}</h2>
    </div>
    <div id="headerRight">
      <label for="flightMode">Flight Mode: </label>
      <input type="checkbox" id="flightMode" onclick="toggleFlightMode()"></input>
    </div>
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
{% endblock %}
