{% extends "base.html" %}

{% block content %}
  <label for="filename">File:</label>
  <input type="file" id="filename" name="filename"/>
  <button onclick="uploadFile()">Upload</button>
  <p><b>NOTE:</b> All file must be in <i>card_keyword_unixtime.extension</i> format</p>
  <script>
    /** Callback when the upload button is clicked. */
    function uploadFile() {
      const file = document.getElementById("filename").files[0];

      const fileReader = new FileReader();
      fileReader.readAsBinaryString(file);
      fileReader.onload = function() {
        fwrite(file.name, fileReader.result);
      }
      fileReader.onerror = function() {
        alert("error: " + fileReader.error);
      }
    }

    /**
     * Write file to OLAF app.
     *
     * @param fileName {String} The file name to write.
     * @param fileData {String} The file data as a binary string to write.
     */
    async function fwrite(fileName, fileData) {
     // Write the file name to OD.
      const obj = await writeValue("fwrite_cache", "file_name", fileName);

      // Validate the file name was set to new value in OD, if it wasn"t it was not a
      // valid file name.
      if (obj.value !== fileName) {
        alert("error: fwrite failed due to an invalid file name format");
        return;
      }

     // Write the file data to OD.
      await writeValue("fwrite_cache","file_data", btoa(fileData));
      
      alert("fwrite was successful");
    }
  </script>
{% endblock %}
