{% extends "base.html" %}

{% block content %}
  <style>
    #page {
      justify-content: center;
      display: flex;
    }
    #abc {
      width: 50%;
      text-align: left;
    }
    label, .boldText {
      font-weight: bold;
    }
    #command {
      width: 94%;
    }
    textarea {
      resize: none;
      width: 100%;
    }
  </style>
  <div id="page">
    <div id="abc">
      <a class="boldText">Status: </a><span id="status"></span>
      <br/>
      <br/>
      <label for="command">Bash Command:</label>
      <br/>
      <input type="text" id="command" name="command"/>
      <button onclick="runCommand()">Run</button>
      <br/>
      <br/>
      <a class="boldText">Reply:</a>
      <br/>
      <textarea id="reply" rows=30 disabled></textarea>
    </div>
  </div>
  <script>
    const states = {
        0: "NO_ERROR_NO_REPLY",
        1: "NO_ERROR_REPLY",
        2: "ERROR_NO_REPLY",
        3: "ERROR_REPLY",
        255: "EXECUTING",
    };

    async function runCommand() {
      // clear last reply
      document.getElementById("reply").value = "";

      // reset field incase of very quick commands
      document.getElementById("status").textContent = "EXECUTING";

      const value = document.getElementById("command").value;

      writeValue("os_command", "command", btoa(value));
    }

    async function updateStatus() {
      const reply_states = ["NO_ERROR_REPLY", "ERROR_REPLY"];

      const statusObj = await readValue("os_command", "status");
      const status = document.getElementById("status");
      const newStatus = states[statusObj["value"]];

      // state has change to a new state with a reply, display reply
      if (status.textContent === "EXECUTING" && reply_states.includes(newStatus)) {
        const replyObj = await readValue("os_command", "reply");
        document.getElementById("reply").value = atob(replyObj.value);
      }

      status.textContent = newStatus;
    }

    //runCommand();
    updateStatus();
    const interval = setInterval(function() {
      updateStatus()
    }, 1000);
  </script>
{% endblock %}
