name: tests

on:
  push:
    paths:
      - 'requirements-dev.txt'
      - 'setup.*'
      - 'docs/**'
      - 'olaf/**'
      - 'tests/**'
    branches:
      - master
  pull_request:
    paths:
      - 'requirements-dev.txt'
      - 'setup.*'
      - 'docs/**'
      - 'olaf/**'
      - 'tests/**'
    branches:
      - master

jobs:
  tests:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt

    - name: Lint with flake8
      run: flake8 . --count --show-source --statistics

    - name: Test with Python's unittest
      run: python -m unittest

    - name: Test building pypi package
      run: python setup.py sdist bdist_wheel

    - name: Test building sphinx docs
      run: make -C docs html
